{
	"folders":
	[
		{
			"file_exclude_patterns":
			[
				"*.meta",
				"Temp/*",
				"*.dll",
				"*.csproj",
				"*.unityproj",
				"*.userprefs",
				"*.sln",
				"*.exr",
				"*.asset",
				"*.unity",
				"*.png",
				"*.tga",
				"*.jpg",
				"*.tif",
				"*.fbx",
				"*.wav",
				"*.mp3",
				"*.anim",
				"*.prefab",
				"*.controller",
				"*.overrideController",
				"*.mat",
				"*.mp4",
				"*.ogv",
				"*.avi"
			],
			"folder_exclude_patterns":
			[
				".*",
				"Temp*",
				"Library*",
				"Builds*",
				"obj*",
				"ProjectSettings"
			],
			"path": "."
		}
	],
	"solution_file": "$0.sln"
}